.planTiersChild {
  width: 352px;
  height: 913px;
  position: relative;
  border-radius: var(--br-20xl);
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.advance {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.advanceWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-22xl);
}
.b,
.buyANew,
.month {
  position: relative;
  z-index: 1;
}
.buyANew {
  align-self: stretch;
}
.b,
.month {
  display: inline-block;
}
.b {
  min-width: 111px;
  white-space: nowrap;
}
.month {
  min-width: 62px;
}
.monthWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) 0 0;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.frameWrapper,
.parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.parent {
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frameWrapper {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-29xl);
  font-size: var(--font-size-21xl);
  color: var(--color-mediumpurple);
}
.buyANewDomainNameYouCanParent,
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.buyANewDomainNameYouCanParent {
  align-self: stretch;
  gap: var(--gap-24xl);
  font-size: var(--font-size-5xl);
}
.frameParent {
  width: 330px;
  gap: var(--gap-8xl);
  max-width: 100%;
}
.teenyiconstickCircleSolid {
  height: 35px;
  width: 35px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.videos {
  position: relative;
  display: inline-block;
  min-width: 60px;
  z-index: 1;
}
.teenyiconstickCircleSolidParent,
.videosWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.videosWrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.teenyiconstickCircleSolidParent {
  flex-direction: row;
  gap: var(--gap-2xs);
}
.teenyiconstickCircleSolid1 {
  height: 35px;
  width: 35px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.hostng {
  position: relative;
  display: inline-block;
  min-width: 60px;
  z-index: 1;
}
.teenyiconstickCircleSolidGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.teenyiconstickCircleSolid2 {
  height: 35px;
  width: 35px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 35px;
  z-index: 1;
}
.domain {
  position: relative;
  display: inline-block;
  min-width: 66px;
  z-index: 1;
}
.domainWrapper,
.teenyiconstickCircleSolidContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.domainWrapper {
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.teenyiconstickCircleSolidContainer {
  flex-direction: row;
  gap: var(--gap-2xs);
}
.frameChild,
.x {
  position: relative;
}
.frameChild {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: var(--color-red);
  z-index: 1;
}
.x {
  margin: 0;
  height: 29.8px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  min-width: 14px;
  z-index: 2;
}
.ellipseParent,
.xWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.xWrapper {
  flex-direction: column;
  padding: var(--padding-9xs-7) 0 0;
  margin-left: -24px;
}
.ellipseParent {
  flex-direction: row;
  padding: 0 var(--padding-3xs) 0 0;
}
.database {
  position: relative;
  display: inline-block;
  min-width: 78px;
  z-index: 1;
}
.databaseWrapper,
.maintenancePerks {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.databaseWrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.maintenancePerks {
  flex-direction: row;
  gap: var(--gap-2xs);
}
.maintenanceDetailsChild {
  height: 35px;
  width: 35px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-red);
  z-index: 1;
}
.x1 {
  margin: 0;
  height: 29.8px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  min-width: 14px;
  z-index: 2;
}
.maintenanceDetails,
.xContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.xContainer {
  flex-direction: column;
  padding: var(--padding-9xs-7) 0 0;
  margin-left: -24px;
}
.maintenanceDetails {
  flex-direction: row;
  padding: 0 var(--padding-3xs) 0 0;
}
.maintenance {
  position: relative;
  display: inline-block;
  min-width: 108px;
  z-index: 1;
}
.maintenanceWrapper {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.maintenancePerks1,
.maintenancePerksParent,
.maintenanceWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.maintenancePerks1 {
  flex-direction: row;
  gap: var(--gap-2xs);
}
.maintenancePerksParent {
  gap: var(--gap-18xl);
  font-size: var(--font-size-13xl);
  color: var(--color-white);
}
.frameContainer,
.frameDiv,
.maintenancePerksParent {
  align-self: stretch;
  flex-direction: column;
}
.frameDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.frameContainer {
  gap: var(--gap-15xl);
}
.frameContainer,
.frameGroup,
.planTiers,
.planTiersInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-21xl);
}
.planTiers,
.planTiersInner {
  width: 286px;
  flex-direction: row;
  padding: 0 var(--padding-47xl);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
}
.planTiers {
  width: 352px;
  border-radius: var(--br-20xl);
  background-color: var(--color-gainsboro-200);
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-50xl) var(--padding-9xs) var(--padding-99xl);
  gap: var(--gap-91xl);
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-jost);
}
@media screen and (max-width: 1050px) {
  .advance,
  .b {
    font-size: var(--font-size-13xl);
  }
  .x,
  .x1 {
    font-size: var(--font-size-7xl);
  }
  .planTiers {
    padding-top: var(--padding-26xl);
    padding-bottom: var(--padding-58xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .advance {
    font-size: var(--font-size-5xl);
  }
  .buyANew {
    font-size: var(--font-size-lgi);
  }
  .b {
    font-size: var(--font-size-5xl);
  }
  .domain,
  .hostng,
  .month,
  .videos {
    font-size: var(--font-size-base);
  }
  .x {
    font-size: var(--font-size-lgi);
  }
  .database {
    font-size: var(--font-size-base);
  }
  .x1 {
    font-size: var(--font-size-lgi);
  }
  .maintenance {
    font-size: var(--font-size-base);
  }
  .planTiers {
    padding-top: var(--padding-10xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
}
